
/*header*/.header {
  
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  background-color: #e60012;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  
  
 /*menu*/.menu {
  
  background-color: #e60012;
    border: none;
    margin-left: 50px;
    
    .fas {
      color: azure;
      display: flex;
      .text {
        font-size: 1rem;
        margin-left: 9px;
        margin-top: 1px;
      }
    }
  }
 /*svg*/.svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%,-50%);
  height: auto;
  
  
  
  
    width:179px;
  }
 /*.languagecompany*/ .languagecompany{
  display: flex;
    .lan{
      background-color: #e60012;
      border: none;
      .fas{
        display: flex;
        color: azure;
      .text{
        
        font-size: 1rem;
        margin-left: 9px;
        margin-top: 1px;
      }
    }

    }
    .com{
      background-color: #e60012;
      border: none;
      margin-left: 25px;
      margin-right: 40px;
      .fas{
        display: flex;
        color: azure;


      .text{
      font-size: 1rem;
        margin-left: 9px;
        margin-top: 1px;
      }
    }

    }
    
  }
}

.content {
  //position: absolute;
  width: 100%;
 //height: 100%;
 //top: 110px;
 margin-top: 110px;
 
 
 
  
  .image{
    
    background-image: url('https://ttfb-bs-s3.25sprout.work/upload/banner/20181119-4706b4a3f330697a2b5674dd7b8a2cbc.jpg');
    background-position: center;
    background-size:cover;
    position: relative;
   width: 100%;
   height: calc(100vh - 110px);
   
   
   
    .texta{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: aliceblue;
      font-size: 36px;
      font-weight: 700;
    }
    .scroll{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0%);
      .textb{
      color: rgb(255, 255, 255);
      font-weight: 700;
      }
      span{
        background-color: rgb(255, 255, 255);
    display: flex;
    flex-shrink: 0;
    height: 20px;
    margin-top: 15px;
    width: 2px;
    margin-left: 50%;

      }
    
     
    }
  }
  
    

    
    .menuItem{
background-color: rgb(0, 0, 0);

//flex-direction: column;
width: 100%;
padding: 30px calc(50% - 530px);

.items{
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
.itema{
 
  max-width: 150px;
  width: 100%;
  text-align: center;

  .imga{
    
  background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu_category/20181113-f4b65e2dec086e19dd424abef8fd383f.png);
  background-position: center;
    background-size:cover;
    padding-top: 100%;
    width: 100%;
    
  }
  .text{
color: rgb(255, 255, 255);
font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.7px;
    margin-top: 20px;

  }
  
}
.itemb{
 max-width: 150px;
 width: 100%;
 text-align: center;
  .imgb{
   background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu_category/20181113-07d04a5b448d98ca0f77cb936073c7a4.png);
   background-position: center;
    background-size:cover;
    padding-top: 100%;
    width: 100%;
  }
  .text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.7px;
    margin-top: 20px;
  }
}
.itemc{
  max-width: 150px;
  width: 100%;
  text-align: center;
  .imgc{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu_category/20181113-598cb9d688bba33b2d9f7eac2df819a6.png);
background-position: center;
background-size:cover;
padding-top: 100%;
width: 100%;
}
  .text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.7px;
    margin-top: 20px;
  }
}
.itemd{
  max-width: 150px;
  width: 100%;
  text-align: center;
  .imgd{
background-image:url(https://ttfb-bs-s3.25sprout.work/upload/menu_category/20201215-f3b4c95eaf3cbe9c6564909e63902471.jpg);
background-position: center;
background-size:cover;
padding-top: 100%;
width: 100%;
border-radius: 50%;
}
  .text{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.7px;
    margin-top: 20px;
  }
}
    }
  }
  


.menu-wrapper{
  .noodles-container{
    background-color: #e60012;
    padding: 30px calc(50% - 530px);
    .title{
      margin-bottom: 55px;
      .number{
        color: rgb(255, 255, 255);
        font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
      }
    
    .wrapper{
      align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    .titlea{
      font-size: 32px;
    font-weight: 800;
    letter-spacing: 1.6px;
    line-height: 1;
    padding: 0 55px;
    text-align: center;
    color: rgb(255, 255, 255);

    }
    .decoration{
      
      border: 1px solid #161616;
      border-color: rgb(255, 255, 255);
    display: flex;
    flex: 1;
    height: 2px;
    }
    }
    .subtitle{
      font-weight: 300;
    letter-spacing: 1.5px;
    margin-top: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    }
  }


.menu-list{
  display: flex;
    flex-wrap: wrap;
    
    .menu-itema{
      margin-right: 33px;
      min-height: 230px;
      flex-basis: calc(33% - 33px);
      
      
     .menu-img{
      margin-bottom: 20px;
      padding-top: 100%;
      
      
      position: relative;
     .img{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu/image/20181206-d6bc64a5a27b52e8a134834f7e45ea5c.jpg);
align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    
   
    

    
     }
    }
     .menu-container{
      margin: 0 20px;
      .menu-header{
        align-items: center;
        display: flex;
        margin-bottom: 8px;
      }
      .menu-price{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.1px;
        margin-bottom: 8px;
      }
      .menu-info{
        color: #231815;
        letter-spacing: .5px;
        line-height: 1.57;
        margin-bottom: 8px;
        text-align: justify;
      }

     }
     
     

    }
    .menu-itemb{
      margin-right: 33px;
      min-height: 230px;
      flex-basis: calc(33% - 33px);
     .menu-img{
      margin-bottom: 20px;
      padding-top: 100%;
      
      position: relative;
     .img{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu/image/20181206-d6bc64a5a27b52e8a134834f7e45ea5c.jpg);
align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    

    
     }
    }
     .menu-container{
      .menu-header{

      }
      .menu-price{
 
      }
      .menu-info{
 
      }

     }
     
     

    }
    .menu-itemc{
      margin-right: 33px;
      min-height: 230px;
      flex-basis: calc(33% - 33px);
     .menu-img{
      margin-bottom: 20px;
      padding-top: 100%;
      
      position: relative;
     .img{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu/image/20181206-d6bc64a5a27b52e8a134834f7e45ea5c.jpg);
align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    

    
     }
    }
     .menu-container{
      .menu-header{

      }
      .menu-price{
 
      }
      .menu-info{
 
      }

     }
     
     

    }
    .menu-itemd{
      margin-right: 33px;
      min-height: 230px;
      flex-basis: calc(33% - 33px);
     .menu-img{
      margin-bottom: 20px;
      padding-top: 100%;
      
      position: relative;
     .img{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu/image/20181206-d6bc64a5a27b52e8a134834f7e45ea5c.jpg);
align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    

    
     }
    }
     .menu-container{
      .menu-header{

      }
      .menu-price{
 
      }
      .menu-info{
 
      }

     }
     
     

    }
    .menu-iteme{
      margin-right: 33px;
      min-height: 230px;
      flex-basis: calc(33% - 33px);
     .menu-img{
      margin-bottom: 20px;
      padding-top: 100%;
      
      position: relative;
     .img{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu/image/20181206-d6bc64a5a27b52e8a134834f7e45ea5c.jpg);
align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    

    
     }
    }
     .menu-container{
      .menu-header{

      }
      .menu-price{
 
      }
      .menu-info{
 
      }

     }
     
     

    }
    .menu-itemf{
      margin-right: 33px;
      min-height: 230px;
      flex-basis: calc(33% - 33px);
     .menu-img{
      margin-bottom: 20px;
      padding-top: 100%;
      
      position: relative;
     .img{
background-image: url(https://ttfb-bs-s3.25sprout.work/upload/menu/image/20181206-d6bc64a5a27b52e8a134834f7e45ea5c.jpg);
align-items: center;
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    

    
     }
    }
     .menu-container{
      .menu-header{

      }
      .menu-price{
 
      }
      .menu-info{
 
      }

     }
     
     

    }
    
}
}
}

}


