* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  
  height: 100%;
}
@import './header.scss';
@import './content-background-img.scss';
@import './content-noodles.scss';
@import './content-menu-item.scss';
@import './content-snacks.scss';
@import './content-drinks.scss';
@import './content-exclusivemenu.scss';
@import './content-ingredients.scss';
@import './footer.scss';